
<%=form_for :spud_inquiry, :url => "/contact/inquire",:html => {:class => "form-horizontal", :id => "inquiry_form_#{inquiry_form.id}"}, :remote => true do |f|%>
<fieldset>
<%=f.hidden_field :spud_inquiry_form_id,:value => inquiry_form.id%>

  <%inquiry_form.spud_inquiry_form_fields.each do |field|%>
    <div class="control-group type_<%=field.field_type%> <%=field.class_name ? field.class_name : ''%>">
      <%=f.label field.field_name, field.name,:class => "control-label"%>
      <div class="controls">
        <%=case field.field_type
          when '0'
            f.text_field field.field_name,:value => field.default_value, :placeholder => field.placeholder
          when '1'
            f.check_box field.field_name,:value => field.default_value
          when '2'
            f.text_area field.field_name,:value => field.default_value,:rows=>5,:cols => 70, :placeholder => field.placeholder
          when '3'
            f.select field.field_name,options_for_select(field.options_list.collect {|opt| [opt,opt]}, field.default_value),:include_blank => true
        end%>
        <% if @spud_inquiry != nil and @spud_inquiry.errors[field.field_name].length > 0 %>
          <span class="help-block"><% @spud_inquiry.errors[field.field_name].each do |error| %> <%= error %> <% end %></span>
        <% end %>
      </div>
    </div>
  <%end%>
  <div class="spud_inquiry_hide">
    <label id='other_email_label' for='other_email'>Please leave blank:</label>
    <input type='text' name='other_email' id='other_email'>
  </div>
  <div class="form-actions">
    <%=f.submit "#{inquiry_form.submit_title || 'Submit Inquiry'}",:class => "btn btn-primary"%>
  </div>


</fieldset>

<%end%>
