<%=error_messages_for(f.object)%>
<fieldset>
  <legend>Form Info</legend>

	  <div class="control-group">

	    	<%=f.label :name, :required=>true, :class=>"control-label"%>
		<div class="controls">
			<%=f.text_field :name%>
		</div>
      </div>
      <div class="control-group">
	    	<%=f.label :recipients, :required=>true, :class=>"control-label"%>
			<div class="controls">
				<%=f.text_field :recipients%>
			</div>
      </div>
      <div class="control-group">
	    	<%=f.label :subject, :required=>true, :class=>"control-label"%>
    		<div class="controls">
    			<%=f.text_field :subject%>
    		</div>
      </div>
      <div class="control-group">
	    	<%=f.label :content, :required=>true, :class=>"control-label"%>
  			<div class="controls">
  				<%=f.text_area :content,:cols => 75,:rows => 5,:class => "wysiwym tinymce"%>
  			</div>
      </div>
      <div class="control-group">
        <%=f.label :thank_you_content,"Thank You Text", :required=>true, :class=>"control-label"%>
        <div class="controls">
          <%=f.text_area :thank_you_content,:cols => 75,:rows => 5,:class => "wysiwym tinymce"%>
        </div>
      </div>
      <div class="control-group">
        <%=f.label :submit_title, "Submit Button Title", :required=>true, :class=>"control-label"%>
        <div class="controls">
          <%=f.text_field :submit_title%>
        </div>
      </div>

</fieldset>
<fieldset>
  <legend>Fields</legend>

	<%=f.fields_for :spud_inquiry_form_fields do |builder|%>
		<%=render "spud_inquiry_form_field_fields",:f => builder%>
	<%end%>
	<p><%= link_to_add_fields "Add Field", f, :spud_inquiry_form_fields %></p>
</fieldset>

