
	<hr/>
		<div class="control-group">
			<%=f.label :name,:class => "control-label"%>
			<div class="controls">
				<%=f.text_field :name%>
			</div>
		</div>
		<div class="control-group">
			<%=f.label :field_type,:class => "control-label"%>
			<div class="controls">
		  		<%=f.select :field_type, [["Text Field",0],["Checkbox",1],["Text Area",2],["Dropdown",3]]%>
		  	</div>

			
		</div>
		<div class="control-group">
			<%=f.label :options,:class => "control-label"%>
			<div class="controls">
				<%=f.text_field :options%>
			</div>
		</div>
		<div class="control-group"> 
			<%=f.label :default_value,:class => "control-label"%>
			<div class="controls">
				<%=f.text_field :default_value%>
		</div>
		</div>
		<div class="control-group">
			<%=f.label :field_order,:class => "control-label"%>
			<div class="controls">
				<%=f.text_field :field_order%>
			</div>
		</div>
		<div class="control-group">
			<%=f.label :required,:class => "control-label"%>
			<div class="controls">
				<%=f.check_box :required%>
			</div>
		</div>
		<div class="control-group">
			<%= link_to_remove_fields "Remove", f %>
		</div>
	
