<%=content_for :data_controls do%>
<%=link_to "New Form",new_spud_admin_inquiry_form_path(),:class => "btn btn-primary",:title => "New Form"%>
<%end%>
<%=content_for :detail do%>
	<div class="page_list">
			<%@inquiry_forms.each do |inquiry_form|%>
				<div class="page_row">

				<span class="row_meta"><%=link_to inquiry_form.name,edit_spud_admin_inquiry_form_path(inquiry_form)%></span>

				<span class="edit_controls">
					<%=link_to edit_spud_admin_inquiry_form_path(inquiry_form),:class => 'btn btn-sm btn-link' do%>
						<span class="glyphicon glyphicon-pencil"></span>
					<%end%>
					<%=link_to spud_admin_inquiry_form_path(inquiry_form),:method => :delete,:class => 'btn btn-danger',:confirm => "Are you sure you want to remove this file?" do%>
						<span class="glyphicon glyphicon-trash"></span>
					<%end%>
				</span>
				<br style="clear:both;"/>
			</div>
			<%end%>
			<%=will_paginate @inquiry_forms%>

	</div>

<%end%>
